#menu{
    background: #213304;
}
#menu a{
    color: white;
}
.estilo-center{
    text-align: center;
}
.estilo-float-right{
    float: right;
}
#chat-conteudo{
    height: 200px;
    overflow: scroll;
}
#chat-box{
    width: 100%;
}
#vendedor-chat{
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;
    width: 300px;
}
.mensagem-cliente{
    display: block;
    width: 80%;
    padding: 4px;
    color: gray;
}
.mensagem-vendedor{
    display: block;
    width: 80%;
    padding: 4px;
    color: gray;
}
.media-left img{
    max-width: 192px;
    max-height: 192px;
}
.media-body h3{
    margin-top: 0;
}
.media-body h4{
    color: green;
}
.media-body p{
    color: gray;
}
.anuncio-foto-grande{
    width: 100%;
    max-height: 600px;
}
