#menu{
    background: #213304;
}
#menu a{
    color: white;
}
.estilo-center{
    text-align: center;
}
.media-left img{
    max-width: 192px;
    max-height: 192px;
}
.media-body h3{
    margin-top: 0;
}
.media-body h4{
    color: green;
}
.media-body p{
    color: gray;
}