<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Orcommerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>

    <div class="container" id="app">     <!--CONTEÚDO-->
        <menu-navbar></menu-navbar> <!--Navbar-->
        <div class="row">
            <div class="col-sm-10">
                <h2 v-if="pesquisaCustom">Resultados da pesquisa:</h2>
                <h2 v-else>Publicados recentemente:</h2>
                <ul class="list-group" v-if="anuncios"> <!--Exibir os 5 anúncios mais recentes-->
                    <li class="list-group-item" v-for="anuncio in anuncios">
                        <div class="media">
                            <div class="media-left">
                                <img v-bind:src="anuncio.foto">
                            </div>
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <a v-bind:href="anuncio.url"><h3>{{anuncio.nome}}</h3></a>
                                        <p>
                                            <span class="glyphicon glyphicon-map-marker"></span>
                                            {{anuncio.cidade}}, {{anuncio.estado}}
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4>R$ {{anuncio.preco}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div v-else>
                    Estamos com problemas em nosso servidor. Serviço temporariamente indisponível.
                </div>
            </div>

            <div class="col-sm-2" style="border: 1px solid black">   <!--ADS-->
                Ads
            </div>
        </div>
    </div>
    
    <script src="controller/menu-controller.js"></script>
    <script src="controller/index-controller.js"></script>
</body>
</html>